/* =================================
    color variable section
================================= */

$White: #FFFFFF;
$Green-50: #9EFF00;
$Green-80: #D8FF99;
$Grey-15: #262626;
$Grey-60: #98989A;
$Grey-90: #E6E6E6;
$Grey-20: #333333;
$Grey-40: #656567;

/*  ====================================
        Font Family Variable's
====================================  */

$font-family-Barlow-SemiBold: "Barlow-SemiBold";
$font-family-Barlow-Medium: "Barlow-Medium";
$font-family-Barlow-Regular: "Barlow-Regular";
