@import '../../common-styles/variables.scss';

.about_contact_section{
    padding: 80px 60px;
    border-top: 2px solid $Grey-15;

    @media (max-width: 1440px) {
        padding: 60px 24px;
    }

    @media (max-width: 767px) {
        padding: 40px;
    }

    @media (max-width: 575px) {
        padding: 40px 24px;
    }

    @media (max-width: 320px) {
        padding: 30px 16px;
    }

    .logo_content_otr{

        .logo_content_inr{
            display: grid;
            grid-template-columns: auto 1fr;
            align-items: center;
            gap: 0 40px;

            @media (max-width: 1440px) {
                gap: 24px 30px;
            }

            @media (max-width: 575px) {
                display: flex;
                flex-direction: column;
            }

            .logo_otr{
                width: 150px;
                height: 150px;

                @media (max-width: 1440px) {
                    width: 100px;
                    height: 100px;
                }

                @media (max-width: 575px) {
                    width: 80px;
                    height: 80px;
                }

                .logo{
                    width: 100%;
                    height: 100%;
                }
            }

            .content_otr{

                .content_heading{
                    color: $Grey-60;
                }

                .content_desc{
                    color: $Grey-60;
                    margin-top: 20px;

                    @media (max-width: 1440px) {
                        margin-top: 14px;
                    }

                    @media (max-width: 575px) {
                        margin-top: 10px;
                    }
                }
            }
        }
    }

    .box_otr{
        margin-top: 50px;

        @media (max-width: 1440px) {
            margin-top: 40px;
        }

        @media (max-width: 575px) {
            margin-top: 30px;
        }

        .box_inr{
            display: flex;
            align-items: center;
            justify-content: center;
            flex-wrap: wrap;
            gap: 20px 40px;
            padding: 24px 20px;
            border-radius: 12px;
            border: 1px solid $Grey-15;
            background: rgba(36, 36, 36, 0.20);
            backdrop-filter: blur(6px);
            width: 100%;

            @media (max-width: 1440px) {
                padding: 20px;
                border-radius: 10px;
            }

            @media (max-width: 320px) {
                padding: 16px 10px;
            }

            .text_main{
                display: flex;
                align-items: center;
                justify-content: center;
                flex-wrap: wrap;
                gap: 14px 20px;
                text-align: center;

                .text{
                    color: $Grey-60;
                }

                .box_text_otr{

                    .box_text{
                        color: $White;
                        padding: 14px 20px;
                        border-radius: 8px;
                        background: $Grey-15;

                        @media (max-width: 1440px) {
                            padding: 10px 14px;
                        }
                    }
                }
            }

            .action_otr{

                @media (max-width: 575px) {
                    width: 100%;
                }

                .project_btn{
                    padding: 18px 34px;

                    @media (max-width: 575px) {
                        width: 100%;
                        padding: 14px 5px;
                    }
                }
            }
        }
    }
}