@import '../../common-styles/variables.scss';

.ServiceSection{
    padding: 0 15px;

    .container_fluid{
        border-right: 2px solid $Grey-15;
        border-left: 2px solid $Grey-15;
        padding: 0;

        @media (max-width: 991px) {
            overflow-x: hidden;
        }

        .row_custom{

            @media (max-width: 991px) {
                gap: 0;
            }
        }
    }
}

.col_serviceCart_box_otr{

    &:not(:last-child){
        border-right: 2px solid $Grey-15;

        @media (max-width: 992px) {
            border-bottom: 2px solid $Grey-15;
        }
    }

    &:last-child{
        border-right: 2px solid $Grey-15;
    }

    @media (max-width: 991px) {
        padding-left: 0;
        padding-right: 0;
    }

    .col_serviceCart_box_inr{
        padding: 50px;
        height: 100%;

        @media (max-width: 1440px) {
            padding: 40px;
        }

        @media (max-width: 1200px) {
            padding: 30px;
        }

        .icon_main{
            display: grid;
            align-items: center;
            grid-template-columns: auto 1fr;
            gap: 0 14px;
            
            .icon_otr{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 88px;
                height: 88px;
                border-radius: 10px;
                border: 1px solid #2E2E2E;
                background: linear-gradient(229deg, rgba(158, 255, 0, 0.20) -68.25%, rgba(158, 255, 0, 0.00) 32.16%), linear-gradient(180deg, #242424 0%, rgba(36, 36, 36, 0.00) 100%);
    
                @media (max-width: 1440px) {
                    width: 70px;
                    height: 70px;
                }
    
                @media (max-width: 767px) {
                    width: 58px;
                    height: 58px;
                    border-radius: 6px;
                }
    
                .icon{
    
                    @media (max-width: 1440px) {
                        width: 30px;
                        height: 30px;
                    }
                }
            }

            .responsive_heading{
                display: none;
                color: $White;
                transition: .3s;

                @media (max-width: 575px) {
                    display: block;
                }

                &:hover{
                    color: $Green-50;
                }
            }
        }

        .heading{
            color: $White;
            margin: 40px 0 20px;
            transition: .3s;

            @media (max-width: 1440px) {
                margin: 30px 0 14px;
            }

            @media (max-width: 767px) {
                margin: 20px 0 8px;
            }

            @media (max-width: 575px) {
                display: none;
            }

            &:hover{
                color: $Green-50;
            }
        }

        .desc{
            color: $Grey-90;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 6;
            -webkit-box-orient: vertical;

            @media (max-width: 575px) {
                margin-top: 24px;
            }
        }

        .action_otr{
            margin-top: 72px;
            width: 100%;

            @media (max-width: 1440px) {
                margin-top: 60px;
            }

            @media (max-width: 767px) {
                margin-top: 40px;
            }

            @media (max-width: 575px) {
                margin-top: 24px;
            }

            .learn_btn{
                width: 100%;
            }
        }
    }
}